<!-- Page Header-->
      <header class="section page-header page-header-1 context-dark">
        <div class="page-header-1-figure m-parallax">
          <div class="page-header-1-image m-parallax-image" style="background-image: url('https://image.tmdb.org/t/p/original{% block bgpath %}{% endblock bgpath %}');"></div>
        </div>

        {% include "includes/navbar.html" %}
        
         <section class="breadcrumbs-custom">
          <div class="breadcrumbs-custom-inner">
            <div class="container">
              <div class="breadcrumbs-custom-main m-parallax-content">
                <h2 class="breadcrumbs-custom-title"> {% block baslik %}
                
                {% endblock baslik %} </h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit.</p>
                <div class="group group-sm group-middle"><a class="button button-sm button-icon button-icon-left button-light" data-lightgallery="item" href="https://youtu.be/d5k9CILJivQ"><span class="icon mdi mdi-play"></span>Watch Now</a></div>
              </div>
            </div>
          </div>
        </section>
      </header>