{% extends "layout.html" %}
{% block title %} Kategoriler {% endblock title %}
{% block baslik %} Kategoriler {% endblock baslik %}
{% block bgpath %}{{ url_for('static', filename='images/bg1.jpeg')}} {% endblock bgpath %}
{% block body %}








     <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-30">
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Macera">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/macera.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Macera</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Fantastik">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/fantastik.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Fantastik</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Animasyon">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/animasyon.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Animasyon</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Dram">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/drama.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Dram</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Korku">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/korku.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Korku</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Aksiyon">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/aksiyon.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Aksiyon</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Komedi">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/komedi.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Komedi</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Tarih">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/tarih.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Tarih</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Gerilim">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/gerilim.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Gerilim</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Suc">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/suc.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Suç</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Belgesel">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/belgesel.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Belgesel</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Gizem">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/gizem.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Gizem</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Romantik">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/romantik.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Romantik</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Aile">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/aile.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Aile</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/vahsibati">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/vahsibati.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Vahşi Batı</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/bilimkurgu">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/bilimkurgu.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Bilim Kurgu</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Muzik">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/muzik.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Müzik</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/Savas">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/savas.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">Savaş</p>
                </div></a>
            </div>
            <div class="col-6 col-sm-4"><a class="destination-1 context-dark" href="/kategori/tvfilm">
                <figure class="destination-1-figure">
                  <div class="destination-1-image bg-image" style="background-image: url('{{ url_for('static', filename='images/kategori/tvfilm.jpg')}}');"></div>
                </figure>
                <div class="destination-1-caption">
                  <p class="heading-4 destination-1-title">TV Film</p>
                </div></a>
            </div>


          </div>
        </div>
      </section>


{% endblock body %}