{% extends "layout.html" %}

{% block title %}
Kayıt Ol
{% endblock title %}

{% block baslik %}
Kayıt Ol
{% endblock baslik %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}

      <!--Boxed Grid System-->
      <section class="section section-md bg-default">
        <div class="container grid-demo grid-demo-underlined">
          <h4 class="text-center">Kayıt Ol</h4>
          <div class="row">
            <div class="col-12">
              <!-- RD Mailform-->
              <form method=post>
                <dl>
                  {{ render_field(form.username, class="form-control") }}                  
                  {{ render_field(form.name, class="form-control") }}
                  {{ render_field(form.surname, class="form-control") }}
                  {{ render_field(form.email, class="form-control") }}
                  {{ render_field(form.password, class="form-control") }}
                  {{ render_field(form.confirm, class="form-control") }}
                </dl>
                <p><button class="button button-lg button-primary" type="submit">Kayıt Ol</button>
              </form>
            </div>
          </div>
        </div>
      </section>
{% endblock body %}