{% extends "layout.html" %}
{% block title %} Ara {% endblock title %}
{% block baslik %} Ara {% endblock baslik %}


{% block body %}
{% block bgpath %}  {% endblock bgpath %}


      <section class="section section-lg bg-gray-100">
        <div class="container">
          <div class="row row-50 flex-lg-row-reverse">
            <div class="col-lg-4">
              <h4>Movies by Genre</h4>
              <div class="box-right">
                <div class="box-tina">
                  <ul class="box-tina-list">
                    <li><a href="movies-2.html#">Action</a></li>
                    <li><a href="movies-2.html#">Animation</a></li>
                    <li><a href="movies-2.html#">Comedy</a></li>
                    <li><a href="movies-2.html#">Detective</a></li>
                    <li><a href="movies-2.html#">Drama</a></li>
                    <li><a href="movies-2.html#">Thriller</a></li>
                  </ul>
                </div>
                <h4>Trending Movies</h4>
                <div class="group-post-minimal">
                  <article class="post-minimal"><a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="images/blog-post-5-79x78.jpg" alt="" width="79" height="78"/></a>
                    <div class="post-minimal-main">
                      <p class="post-minimal-title"><a class="link-black" href="blog-post.html">Top 10 Movies to Watch This Summer</a></p>
                      <time class="post-minimal-time" datetime="2021">May 12, 2021</time>
                    </div>
                  </article>
                  <article class="post-minimal"><a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="images/blog-post-6-79x78.jpg" alt="" width="79" height="78"/></a>
                    <div class="post-minimal-main">
                      <p class="post-minimal-title"><a class="link-black" href="blog-post.html">TV Shows & Movies About Superheroes</a></p>
                      <time class="post-minimal-time" datetime="2021">June 19, 2021</time>
                    </div>
                  </article>
                  <article class="post-minimal"><a class="post-minimal-media" href="blog-post.html"><img class="post-minimal-image" src="images/blog-post-7-79x78.jpg" alt="" width="79" height="78"/></a>
                    <div class="post-minimal-main">
                      <p class="post-minimal-title"><a class="link-black" href="blog-post.html">Unknown  Locations from Popular Movies</a></p>
                      <time class="post-minimal-time" datetime="2021">July 25, 2021</time>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <h4>Featured Movies</h4>
              <article class="tour-modern">
                <div class="tour-modern-media"><a class="tour-modern-figure" href="movie-page.html"><img class="tour-modern-image" src="images/movies-2-img-01-210x264.jpg" alt="" width="210" height="264"/></a></div>
                <div class="tour-modern-main">
                  <h5 class="tour-modern-title"><a href="movie-page.html">Euphoria</a></h5>
                  <div class="tour-modern-info">2021, Drama</div>
                  <p>Nunquam gratia cedrium. Nuclear vexatum iacere de nobilis advena, captis contencio! Hercle, brodium nobilis!, teres imber! Castus, alter exsuls rare amor de mirabilis, rusticus pars.</p>
                </div>
              </article>
              <article class="tour-modern">
                <div class="tour-modern-media"><a class="tour-modern-figure" href="movie-page.html"><img class="tour-modern-image" src="images/movies-2-img-02-210x264.jpg" alt="" width="210" height="264"/></a></div>
                <div class="tour-modern-main">
                  <h5 class="tour-modern-title"><a href="movie-page.html">Disconnected</a></h5>
                  <div class="tour-modern-info">2021, Drama</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium ullamcorper pharetra, facilisi at. Congue elementum magnis integer tincidunt. Non tristique congue amet, morbi.</p>
                </div>
              </article>
              <article class="tour-modern">
                <div class="tour-modern-media"><a class="tour-modern-figure" href="movie-page.html"><img class="tour-modern-image" src="images/movies-2-img-03-210x264.jpg" alt="" width="210" height="264"/></a></div>
                <div class="tour-modern-main">
                  <h5 class="tour-modern-title"><a href="movie-page.html">Paradigm Lost</a></h5>
                  <div class="tour-modern-info">2021, Documentary, Sport</div>
                  <p>Compaters resistere in antenna! Trabem diligenter ducunt ad bi-color torquis. Vae, azureus adiurator! Cum galatae peregrinationes, omnes advenaes locus fatalis, secundus.</p>
                </div>
              </article>
              <article class="tour-modern">
                <div class="tour-modern-media"><a class="tour-modern-figure" href="movie-page.html"><img class="tour-modern-image" src="images/movies-2-img-04-210x264.jpg" alt="" width="210" height="264"/></a></div>
                <div class="tour-modern-main">
                  <h5 class="tour-modern-title"><a href="movie-page.html">Black Mirror</a></h5>
                  <div class="tour-modern-info">2021, Sci-fi</div>
                  <p>Abactuss sunt calcarias de alter candidatus. Emeritis, salvus tuss interdum experientia de noster, altus palus Trabem diligenter ducunt ad Cum galatae peregrinationes, omnes.</p>
                </div>
              </article>
              <nav class="pagination-outer text-center">
                <ul class="pagination">
                  <li class="page-item active"><a class="page-link" href="movies-2.html#">1</a></li>
                  <li class="page-item"><a class="page-link" href="movies-2.html#">2</a></li>
                  <li class="page-item"><a class="page-link" href="movies-2.html#">3</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>


      
{% endblock body %}